table {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  border: 1px solid #ddd;
  margin-top: 30px;
  margin-left: 0;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  font-weight: 700;
}
